/* Aggregated styles split by area */
@import "./base.css";
@import "./layout.css";
@import "./sidebar.css";
@import "./components/WidgetWorkbench.css";
@import "./components/AddWidget.css";
@import "./components/WidgetDemoTab.css";
@import "./components/WidgetPreviewDemo.css";
@import "./chat-window.css";
@import "./message.css";
@import "./data-panel.css";
@import "./utilities.css";
